@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    background-color: #323640;
}

.cabecalho {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img {
    padding-top: 20px;
    padding-left: 90px;
}

.navega {

    padding-right: 60px;
}

a {
    text-decoration: none;
    color: rgb(173, 173, 173);
    padding: 15px;
    font-size: 1em;
}

a:hover {
    color: gray;
}

.main {
    padding-top: 70px;
    padding-left: 90px;
    width: 400px;
}

.titulo {
    color: white;
    font-size: 3em;
}

.p1 {
    padding-top: 40px;
    color: rgb(173, 173, 173);
    padding-bottom: 40px;
    font-size: 1.1em;
}

.p2 {
    color: rgb(173, 173, 173);
    flex-direction: column;
}

.p3 {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

#icon {
    padding-right: 10px;
    color: lightgreen;
}


/*media query*/

@media screen and (min-width:300px) and (max-width:992px) {

    header > img {
        padding: 10px;
    }

    .am {
        display: none;
    }

    main {
        text-align: center;
    }

}
