@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    background-color: #323640;
}

.cabecalho {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img {
    padding-top: 20px;
    padding-left: 90px;
}

#burguer {
    display: none;
}

.navega {
    display: flex;
    padding-right: 60px;
}

a {
    text-decoration: none;
    color: rgb(173, 173, 173);
    padding: 15px;
    font-size: 1em;
}

a:hover {
    color: gray;
}

.main {
    padding-top: 70px;
    padding-left: 90px;
    width: 400px;
}

.titulo {
    color: white;
    font-size: 3em;
}

.p1 {
    padding-top: 40px;
    color: rgb(173, 173, 173);
    padding-bottom: 40px;
    font-size: 1em;
}

.p2 {
    color: rgb(173, 173, 173);
    flex-direction: column;
    padding-bottom: 40px;
    font-size: 0.8em;
}

.p3 {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

#icon {
    padding-right: 10px;
    color: lightgreen;
    font-size: 1.5em;
}

#add {
    color: white;
    border: 1px 1px;
    background-color: rgb(0, 119, 255);
    padding: 18px;
    border-radius: 5px;
}

#add:hover {
    background-color: rgb(0, 81, 255);
}


/*media query*/

@media screen and (max-width: 992px) {

    .cabecalho {
        display: flex;
    }

    .img {
        padding-left: 35px;
    }

    #burguer {
        color: white;
        font-size: 1.8em;
        text-align: end;
        display: block;
        padding-right: 20px;
        cursor: pointer;
    }

    #burguer:hover {
        color: rgb(143, 143, 143);
    }

    #itens {
        display: none;
        position: absolute;
        top: 9vh;
        right: 0px;
        width: 50vw;
        height: 90vh;
        background-color: #323640;
    }

    .navega {
        flex-direction: column;
        padding: 20px;
    }

    .titulo {
        font-size: 2em;

    }

    .p2 {
        font-size: 1em;
    }

    #icon {
        font-size: 1.7em;
    }
}
